[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third_party/microprofile"]
	path = third_party/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua.git
[submodule "third_party/libevent"]
	path = third_party/libevent
	url = https://github.com/libevent/libevent.git
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_party/svgpp"]
	path = third_party/svgpp
	url = https://github.com/svgpp/svgpp.git
[submodule "third_party/lunasvg"]
	path = third_party/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "third_party/Detours"]
	path = third_party/Detours
	url = git@github.com:gokutek/Detours.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/libgoku"]
	path = third_party/libgoku
	url = git@github.com:gokutek/libgoku.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = git@github.com:gokutek/quickjs.git
[submodule "third_party/WTL"]
	path = third_party/WTL
	url = https://git.code.sf.net/p/wtl/git
[submodule "third_party/ratas"]
	path = third_party/ratas
	url = git@github.com:gokutek/ratas.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gokutek/spdlog.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = git@github.com:gokutek/openssl.git
[submodule "third_party/thread-pool"]
	path = third_party/thread-pool
	url = git@github.com:gokutek/thread-pool.git
[submodule "third_party/sigslot"]
	path = third_party/sigslot
	url = git@github.com:palacaze/sigslot.git
[submodule "third_party/kcp"]
	path = third_party/kcp
	url = git@github.com:gokutek/kcp.git
